@import url("../../../css_utilities/common.css");

.subMenuHeader {
}
.sub-menu-container {
  margin: 20px 0;
}
.subcategory {
  max-width: 95%;
  justify-content: space-between;
  margin: 5px 0;
}
.subcategory .post-data-submit {
  float: right;
}
