.adminPanel {
  height: 100%;
}
.header {
  padding: 0 40px;
}
.headerText {
  color: #fff;
}

.panelContent {
  display: flex;
}
.panelNav {
  padding: 50px 0;
  border-right: 1px solid teal;
}
.panelNavItem a {
  height: 50px;
  width: 250px;
  margin: 15px;
  box-shadow: 1px 1px 2px 1px lightgray;
  text-decoration: none;
  font-weight: 700;
}
