.header {
  padding: 0 40px;
}
.header-text {
  color: #fff;
}
.panel-nav {
  padding-top: 50px;
}
.nav-link {
}
.notification-box {
  position: absolute;
  bottom: 10vh;
  left: 5vw;
  animation: slideLeft 0.4s ease-in;
}

@keyframes slideLeft {
  from {
    left: -5vw;
  }
  to {
    left: 5vw;
  }
}
