.header {
  min-height: 45px;
  height: 5vh;
  background-color: #0099DD;
}
.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.nav-link {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
