.header {
  height: 50px;
  background-color: #0099DD;
  display: flex;
  align-items: center;
}
.navigation {
  margin-left: 10%;
}
.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.nav-item {
  margin: 0 10%;
}
.nav-link {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
