/* file imported in index.js */

@import url("../css_utilities//variables.css");

.gridContainer {
  display: grid;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-bold {
  font-weight: bold;
}

.margin-top-10 {
  margin-top: 10px;
}
.formContainer {
  width: 100%;
  padding: 30px;
}
.inputLabel {
  margin: 0 0 5px 5px;
}
.formInput {
  margin: 5px 0;
  min-height: 30px;
  border-radius: 3px;
  color: var(--text-whiteBG);
  font-family: "Raleway", sans-serif;
}
.formInput:focus {
  border: 1px solid var(--text-whiteBG);
}
.formGroup {
  min-height: 50px;
  margin: 10px 0;
  justify-content: space-around;
}
.formButton {
  border: 0;
  padding: 15px 40px;
  margin: 15px 0;
  border-radius: 3px;
  font-size: 16px;
  color: var(--text);
}
.formButton:hover {
  cursor: pointer;
}
.nextStepButton {
  background-color: green;
  float: right;
}
.prevStepButton {
  background-color: lightcoral;
  float: left;
}
.errorMessage {
  color: red;
  font-weight: bold;
}

.post-data-input {
  padding: 5px 20px;
  min-width: 250px;
  border: 0;
  outline: 1px solid lightblue;
  box-shadow: 1px 1px 2px 1px lightgray;
}
.post-data-input:focus {
  border: 1px solid teal;
}
.data-submit {
}
.data-submit:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.data-submit:focus {
  outline: 0;
}
.post-data-button {
}
.delete-data-button {
}
.category-name {
  font-size: 16px;
  text-decoration: underline;
}
.box-shadow {
  box-shadow: 2px 2px 2px 1px lightgray;
}
