/* file imported in index.js */

@import url("../css_utilities//variables.css");

.gridContainer {
  display: grid;
}

.flex {
  display: flex;
}
.v-align {
  align-items: center;
}
.h-align {
  justify-content: center;
}
.col-direction {
  flex-direction: column;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-bold {
  font-weight: bold;
}

[class*="col"] {
  float: left;
}
.col-lg-1 {
  width: 8.333%;
}
.col-lg-2 {
  width: 16.66%;
}
.col-lg-3 {
  width: 25%;
}
.col-lg-4 {
  width: 33.33%;
}
.col-lg-5 {
  width: 41.66%;
}
.col-lg-6 {
  width: 50%;
}
.col-lg-7 {
  width: 58.33%;
}
.col-lg-8 {
  width: 66.66%;
}
.col-lg-9 {
  width: 75%;
}
.col-lg-10 {
  width: 83.33%;
}
.col-lg-11 {
  width: 91.66%;
}
.col-lg-12 {
  width: 100%;
}
.margin-top-10 {
  margin-top: 10px;
}
.formContainer {
  width: 100%;
  padding: 30px;
}
.inputLabel {
  margin: 0 0 5px 5px;
}
.formInput {
  margin: 5px 0;
  min-height: 30px;
  border-radius: 3px;
  color: var(--text-whiteBG);
  font-family: "Raleway", sans-serif;
}
.formInput:focus {
  border: 1px solid var(--text-whiteBG);
}
.formGroup {
  min-height: 50px;
  margin: 10px 0;
  justify-content: space-around;
}
.formButton {
  border: 0;
  padding: 15px 40px;
  margin: 15px 0;
  border-radius: 3px;
  font-size: 16px;
  color: var(--text);
}
.formButton:hover {
  cursor: pointer;
}
.nextStepButton {
  background-color: green;
  float: right;
}
.prevStepButton {
  background-color: lightcoral;
  float: left;
}
.errorMessage {
  color: red;
  font-weight: bold;
}

.postDataInput {
  padding: 5px 20px;
  min-width: 250px;
  border: 0;
  outline: 1px solid lightblue;
  box-shadow: 1px 1px 2px 1px lightgray;
}
.postDataInput:focus {
  border: 1px solid teal;
}
.dataSubmit {
  border: 0;
  border-radius: 50%;
  box-shadow: 1px 1px 2px 1px lightgray;
  color: #fff;
  font-size: 20px;
  min-height: 25px;
  min-width: 25px;
  margin-left: 10px;
}
.dataSubmit:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.dataSubmit:focus {
  outline: 0;
}
.postDataButton {
  background-color: teal;
}
.deleteDataButton {
  background-color: orange;
}
.categoryName {
  font-size: 16px;
  text-decoration: underline;
}
