.manufacturer-item {
    margin: 5px 0;
}
.manufacturer-item:hover {
    box-shadow: 2px 2px 4px 2px lightgrey;
}
.manufacturer-item a:hover {
    text-decoration: none;
}
.manufacturer-name {
    color: #676767;
}